@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root{
  font-family: 'Montserrat', sans-serif;
}

/* DEfault css styling */
/* li{
  opacity: 0.3;
  cursor: pointer;
}

body{
  background: #ece3e9; ;
  display: flex;
  align-items: center;
  justify-content: center;
}

singleRestaurant :hover img{
  transform: scale(1.1);
  transition: all .8s ease-in-out;
}
::-webkit-scrollbar{
  display: none;
} */ 